asgiref==3.7.2
autopep8==2.0.4
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
cowsay==6.1
Django==4.2.9
djangorestframework==3.14.0
gunicorn==23.0.0
idna==3.7
mysql-connector-python==8.4.0
mysql-connector-python-rf==2.2.2
packaging==24.1
pillow==10.2.0
psycopg2==2.9.9
pycodestyle==2.11.1
pygame==2.5.2
python-dotenv==1.0.0
pytz==2024.1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.1
